body
{
    margin:0px;
    background-color:#f8f8f8;
    -webkit-font-smoothing:antialiased;
    font-family: 'Open Sans', sans-serif;
}

.sidePane
{
    width:18%;
    float:left;
    background-color:black;
    min-width:220px;
    height:100%;
    position:fixed;
    background-image:url("/Images/me1.png");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.3, black),
	color-stop(0.6, transparent),
    color-stop(0.88,black)), url("/Images/me1.png");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/me1.png");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/me1.png");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/me1.png");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/me1.png");
    background-image: linear-gradient(to bottom, black 30%, transparent, black 88%), url("/Images/me1.png");
    z-index:5;
    background-size: 100%, 100% auto;
    background-repeat:no-repeat;
    background-position: 0 78%;
    -webkit-box-shadow:0px 5px 5px 1px #333333;
    box-shadow:0px 5px 5px 1px #333333;
    -webkit-transition: background-image 10s ease;
    -moz-transition: opacity .5s ease, border-color .5s ease;
    -ms-transition: opacity .5s ease, border-color .5s ease;
    -o-transition: opacity .5s ease, border-color .5s ease;
    transition: background-image 10s ease;
}
.work_employee
{
    background-image:url("/Images/side_infy.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_infy.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_infy.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_infy.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_infy.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_infy.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_infy.jpg");
}

.work_freelancer
{
    background-image:url("/Images/side_freelance.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_freelance.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_freelance.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_freelance.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_freelance.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_freelance.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_freelance.jpg");
}

.work_student
{
    background-image:url("/Images/side_college.png");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_college.png");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_college.png");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_college.png");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_college.png");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_college.png");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_college.png");
}

.side_labstorm
{
   
    background-image:url("/Images/side_labstorm.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_labstorm.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_labstorm.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_labstorm.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_labstorm.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_labstorm.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_labstorm.jpg");
}

.side_capture
{
   
    background-image:url("/Images/side_capture.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_capture.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_capture.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_capture.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_capture.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_capture.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_capture.jpg");
    
}

.pb
{
   
    background-image:url("/Images/profile.png");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/profile.png");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/profile.png");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/profile.png");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/profile.png");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/profile.png");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/profile.png");
}

.sa
{
   
    background-image:url("/Images/side_sa.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_sa.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_sa.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_sa.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_sa.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_sa.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_sa.jpg");
}

.ra
{
   
    background-image:url("/Images/side_ra.png");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_ra.png");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ra.png");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ra.png");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ra.png");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_ra.png");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_ra.png");
}

.ka
{
   
    background-image:url("/Images/side_ka.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_ka.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ka.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ka.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_ka.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_ka.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_ka.jpg");
}

.elgg
{
   
    background-image:url("/Images/side_elgg.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.2, black),
	color-stop(0.6, transparent),
    color-stop(0.94,black)), url("/Images/side_elgg.jpg");
    background-image: -webkit-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_elgg.jpg");
    background-image: -o-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_elgg.jpg");
    background-image: -ms-linear-gradient(bottom, black 6%, transparent,black 75%), url("/Images/side_elgg.jpg");
    background-image: -moz-linear-gradient(linear, black 6%, transparent, black 75%), url("/Images/side_elgg.jpg");
    background-image: linear-gradient(to bottom, black 20%, transparent, black 94%), url("/Images/side_elgg.jpg");
}

.specialIcon{
    font-size: 75px;
    color: silver;
    z-index: -9999999;
    display: block;
    position: absolute;
}

.specialIcon-left{
    margin-left: 40px;
    float: left;
    margin-top: 86px;
}

.specialIcon-right{
    float: right;
    margin-right: 120px;
    position: inherit;
    margin-top: -100px;
}

h3.nameHeading{
    font-family:'Raleway', 'sans-serif';
    color:white;
    margin-left:30px;
    font-size:28px;
    font-weight:normal;
}

h3.nameHeading .highlight{
    font-weight:bold;
    display:block;
}

h3.nameHeading a,h3.nameHeading:hover a, h3.nameHeading a:visited{
    text-decoration:none;
    color:white;
}


.navigationlink{
    font-family: 'Raleway',sans-serif;
    display:block;
    color:white;
    margin-left:30px;
    margin-right:35px;
    margin-top:5px;
    font-size:18px;
    text-decoration:none;
    font-weight:600;
    padding-bottom:2px;
    opacity:0.9;
    border-bottom:2px solid transparent;
    -webkit-transition: opacity .5s ease, border-color .5s ease;
    -moz-transition: opacity .5s ease, border-color .5s ease;
    -ms-transition: opacity .5s ease, border-color .5s ease;
    -o-transition: opacity .5s ease, border-color .5s ease;
    transition: opacity .5s ease, border-color .5s ease;
}

.navigationlink:hover{
    text-decoration:none;
    border-bottom-color:white;
    opacity:1.0;
}

.navigationlink:active{
    text-decoration:none;
    border-bottom-color:white;
}

.social-links{
    bottom:0px;
    position:absolute;
    color:white;
    margin-left:50px;
    margin-bottom:20px;
    font-size:10px;
}

a.link, .projectLink{
    color:white;
    margin-left:10px;
    font-size:15px;
    cursor:pointer;
    text-decoration:none;
}

.projectLink{
    color:#0A5DA6;
    font-weight:600;
}

a.link:hover, .projectLink:hover{
    text-decoration:underline;
}

.mainPane
{
    width:80%;
    float:right;
    overflow-y:auto;
}

.heading, .workHeading {
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    border-bottom: 2px solid #0A5DA6;
    font-size:22px;
    color:#333333;
    padding-bottom:5px;
}

.workHeading{
    border:none;
}

.workHeading .after
{ 
    content: '';
    display: block;
    left: 0;
    bottom: 0;
    margin-top:2px;
    height: 2px;
    width: 0px;
    background: #0A5DA6;   
    -webkit-transition: width 1s ease, background-color 1s ease;
    -moz-transition: width 1s ease, background-color 1s ease;
    -ms-transition: width 1s ease, background-color 1s ease;
    -o-transition: width 1s ease, background-color 1s ease;
    transition: width 1s ease, background-color 1s ease;
}

.description, .workDescription{
    max-width:700px;
    text-align:justify;
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    font-size:16px;
    line-height:25px;
    min-height: 400px;
}

.workDescription{
    display:none;
}

.display{
    display:block;
}

.workDescription > a{
    text-decoration:none;
}

.workDescription p>a{
    text-decoration:underline;
    color:#0A5DA6;
}

.role{
    color:#aaaaaa;
    margin-left:25px;
    cursor:pointer;
    -webkit-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

.role:hover{
    color:#0A5DA6;
}

.highlightedRole, .role:hover.highlightedRole{
    color:#333333;
}

.work{
    padding:10px 5px;
    cursor:pointer;
}

.newwork{
    height: 201px;
    background-size: 100%;
    padding:0px;
    transition: box-shadow .5s ease;
    background-repeat: no-repeat;
    min-width:700px;
}

.work>p{
    color:#444444;
    margin-top:0px;
}

.newwork p{
    color:white;
    margin-left: 25px;
    margin-top: 5px;
    text-shadow:2px 1px 2px #000000;
    text-align:left;
    font-size:15px;
}

.visible{
    opacity:1;
}

.work h4 {
    color:#0A5DA6;
    font-size:22px;
    margin:10px 0 10px 0;
    font-weight:300;
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}

.newwork h4{
    color: white;
    margin: 25px 0px 0px 25px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    font-size: 22px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.work h4:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    -webkit-transition:width .5s ease, background-color .5s ease;
    -moz-transition:width .5s ease, background-color .5s ease;
    -ms-transition:width .5s ease, background-color .5s ease;
    -o-transition:width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}

.newwork h4:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    -webkit-transition:width .5s ease, background-color .5s ease;
    -moz-transition:width .5s ease, background-color .5s ease;
    -ms-transition:width .5s ease, background-color .5s ease;
    -o-transition:width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}

.newwork:hover{
    box-shadow:0px 5px 10px 0px #888888;
}

.work:hover h4:after {
    width: 100%;
    background: #0A5DA6;
}

.newwork:hover h4:after {
    width: 100%;
    background: #ffffff;
}

.workTags{
margin-top: 30px;
float: left;
margin-left: 25px;
font-size: 13px;
text-transform: uppercase;
color: #ffffff;
text-shadow: 2px 2px 2px #000000;
font-weight: bold;
}
.projectRole, .projectTechnologies{
    color: #0A5DA6;
    font-weight:300;
    font-size:18px;
    line-height:30px;
}

.innerTitle{
    color:#888888;
}

.freelanceImg{
    margin-top:30px;
    margin-bottom:20px;
    width:100%;
}
.shadow{
     -webkit-box-shadow: 0px 0px 5px 1px #333333;
    -moz-box-shadow: 0px 0px 5px 1px #333333;
    -o-box-shadow: 0px 0px 5px 1px #333333;
    box-shadow: 0px 0px 5px 1px #333333;
}
.brochure{
    margin-left:20px;
}
.brochure>img
{
    width:45%;
    margin-right:30px;
}
.italics{
    font-style:italic;
}

.presentation{
    margin-top:30px;
    margin-bottom:10px;
}

.footer{
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    border-top:1px solid silver;
    color:silver;
    font-size:12px;
}

.footer-link{
    color:silver;
    text-decoration:underline;
}

.footer:hover{
    color:#666666;
}

.footer:hover .footer-link{
    color:#333333;
}

/* project Detail*/
.fa-nav{
    font-size: 20px;
    text-align: right;
    color: white;
    padding: 19px 23px;
    border-bottom: 1px solid white;
}
.sidePaneProjectDetail
{
    width:60px;
    float:left;
    background-color:black;
    height:100%;
    position:fixed;
    z-index:5;
    -webkit-box-shadow:0px 5px 5px 1px #333333;
    box-shadow:0px 5px 5px 1px #333333;
}
.sidePaneProjectDetail .nameHeading{
    transform: rotate(270deg);
    transform-origin: left top;
    margin-left: 12px;
    width: 300px;
    position: absolute;
    bottom:0px;
}

.sidePaneProjectDetail .nameHeading .highlight{
    display:inline;
}

.mainPaneProjectDetail{
    width: 80%;
    float: left;
    overflow-y: auto;
    margin-left: 100px;
}
.mainPaneProjectDetail .footer{
    border-top:1px solid silver;
    color:silver;
    font-size:12px;
    width:100%;
    margin:0px;
}
.mainPaneProjectDetail .heading{
    font-size:40px;
}
.mainPaneProjectDetail .workDescription{
    max-width: none;
    text-align:left;
}
.mainPaneProjectDetail .workDescription .subheading{
    font-size:22px;
}
.subheading .icon{
    margin-right:10px;
}
.mainPaneProjectDetail .workDescription .two-part{
    width:50%;
    float:left;
}
.subheadingDescription{
    color: #333333;
    font-size:16px;
    margin-bottom:30px;
}

.subheadingDescription img{
    margin-top:15px;
}
.descriptionListing{
    list-style-position: outside;
    margin-left:10px;
    font-size:18px;
    padding-bottom:10px;
}
.descriptionListing li{
    margin-bottom:15px;
}
.innerDesc{
    margin-bottom: 15px;
    display:block;
}
.innerDesc .innerTitle{
    color:#888888;
    font-weight:bold;
}
.blue{
    color:#0A5DA6 !important;
}
.fourSection {
font-size: 20px;
text-align: center;
display: block;
float: left;
width: 25%;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom:30px;
}
.fourSection .icon{
    font-size:40px;
}

a.boldLink{
    font-weight:bold;
    color:#0A5DA6;
    text-decoration: none !important;
    padding-bottom: 1px;
}
a.boldLink:hover{
    text-decoration: none !important;
    border-bottom:1px solid;
    -webkit-transition: border 0.5s ease-in;
    -ms-transition: border 0.5s ease-in;
    -moz-transition: border 0.5s ease-in;
    -o-transition: border 0.5s ease-in;
    transition: border 0.5s in-out;
}

/*For roadmap Showcase*/
.help-block {
display: block;
margin-top: 5px;
margin-bottom: 40px;
color: #737373;

}

.spotx {
width: 20px;
border-radius: 10px;
background-color: #888;
height: 20px;
cursor: pointer;
display: inline;
margin: 0px;
position: absolute;
}
.spot {
width: 20px;
border-radius: 10px;
background-color: #888;
height: 20px;
display: block;
margin-left: 25%;
position: absolute;
cursor: pointer;
}

.highlightSpot {
background-color: #ED673B;
width: 15px;
height: 15px;
border-radius: 100%;
border: 5px solid #ffffff;
-webkit-animation: effect 1.5s ease-in infinite;
animation: effect 1.5s ease-in infinite;
box-shadow: 0px 0px 3px 0px silver;
}

.mapDesc {
margin-left: 20%;
margin-top: 38px;
position: relative;
}

.mapFlag {
height: 22px;
}

.tripDesc {
font-size: 20px;
color: #ED673B;
font-weight: 400;
max-width: 300px;
}

.container{
    display: block;
float: left;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-bottom:70px;
position: relative;
max-width:771px;
min-width:771px;
}

.mapDesc {
margin-left: 20%;
margin-top: 38px;
position: absolute;
text-align:center;
}

.tripDesc {
font-size: 20px;
color: #ED673B;
font-weight: 400;
max-width: 300px;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes effect
{
from {border:5px solid #ffffff;background-color:#ED673B;}
to {border:5px solid #ED673B;background-color:#ffffff;}
}

/* Standard syntax */
@keyframes effect
{
from {border:5px solid #ffffff;background-color:#ED673B;}
to {border:5px solid #ED673B;background-color:#ffffff;}
}

.fa1{
    font-size:20px;
}