/* Variables */
html {
    --kodak-red: red;
    --white: white;
    --background-gray: #f8f8f8;
    --background-dgray: #f3f3f3;
    --text-black:51,51,51;
    --text-dgray:#626262;
    --text-gray:#504b4b;
    --backgroundText-Gray:#dcdcdc;
    --shadow-color: silver;
}

/* Defaults */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

body
{
    margin:0px;
    background-color:var(--background-gray);
    color:var(--text-black);
    counter-reset: ol;
}

video{
    margin: 50px 0px;
}

/* Defaults end */

.sidePaneProjectDetail
{
    width:60px;
    float:left;
    background-color:black;
    height:100%;
    position:fixed;
    z-index:5;
    -webkit-box-shadow:0px 5px 5px 1px #333333;
    box-shadow:0px 5px 5px 1px #333333;
}
.sidePaneProjectDetail a{
    color: white;
    font-size: 30px;
    padding: 15px;
    float: left;
    border-bottom: 2px solid #333;
    width:30px;
}
.sidePaneProjectDetail a:hover{
    color: #000000;
    background-color: white;
}
.sidePaneProjectDetail .nameHeading{
    -webkit-transform: rotate(270deg);
    -moz-transform:rotate(270deg);
    transform: rotate(270deg);
    transform-origin: left top;
    margin-left: 12px;
    width: 300px;
    position: absolute;
    bottom:0px;
    text-decoration: none;
    color:#ffffff;
}

.sidePaneProjectDetail .nameHeading a{
    text-decoration:none;
    color:white;
    margin-left:30px;
    font-size:28px;
    background-color: transparent;
    font-weight:normal;
    border:none;
    padding:none;
    float:none;
}

h3.nameHeading .highlight{
    font-weight: 500;
    display:block;
}

.sidePaneProjectDetail .nameHeading .highlight{
    display:inline;
}


/* Body */


#hero { 
    background-size: auto 600px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:600px;
    width:100%;
}

.backgroundVideo{
  margin:0 auto;
  display:flex;
  width:auto;
  height:600px;
  align-content: center;
}

.kodak{
    background-color: #f5f5f3;
    background-image: url("/Images/assets/kodak_hero.png");
}
.design_system{
    background-image: url("/Images/assets/design_system_hero.png");
    background-size: cover !important;
    background-position: top;
    background-color: #e25d10;
}
.kaagazi{
    background-image: url("/Images/assets/kaagazi_hero.JPG");
    background-size: cover;
    background-position: bottom;
}
#hero .backgroundVideo{
    background-image: none;
}
.content{
    width:60%;
    margin: 100px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}

.contentImage{
    margin: 20px auto 20px auto;
    width:100%;
    height:auto;
    object-fit: contain;
}

.flushBackground{
    width:100%;
    margin: 20px auto 20px auto;
}

.flushBackgroundImage{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
}

.fullWidth{
    margin: 100px auto 100px auto;
    background-color: var(--background-dgray);
    height: 300px;
}


/* Styling*/
.red{
    color: var(--kodak-red);
}
.darkGray{
    color: var(--backgroundText-Gray);
}
a{
    font-size:26px;
    font-weight:400;
    color:#197fea;
    text-decoration: none;
    font-weight:600;
    text-underline-position:under;
    cursor:pointer;
    transition: 1s;
}

a:hover{
    color:#135faf;
    text-decoration: none;
}

h1{
    font-size: 60px;
    font-weight:400;
    grid-column-start: 1;
    grid-column-end: 5;
}

h2{
    font-size: 40px;
    font-weight:400;
    grid-column-start: 1;
    grid-column-end: 5;
}

h3{
    font-size: 34px;
    font-weight:500;
    grid-column-start: 1;
    grid-column-end: 5;
}

p{
    font-size:26px;
    color:var(--text-dgray);
    line-height:40px;
    grid-column-start: 1;
    grid-column-end: 5;
    font-weight:400;
}

p.midContent{
    color:var(--text-gray);
    font-size: 24px;
    text-align: justify;
    line-height: 34px;
}

ol{
    list-style-type: none;
}

li{
    font-size:26px;
    color:var(--text-black);
    line-height:40px;
    counter-increment: ol;
    margin: 10px 50px 50px 0px;
    display: list-item;
}

li::before{
    content: counter(ol);
    display:block;
    float:left;
    margin-left: -60px;
    background-color: var(--kodak-red);
    width:40px;
    height:40px;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
}

.semibold{
    font-weight: 500;
}

.boldText{
    font-size:96px;
    font-weight:800;
}


.backgroundText{
    font-size: 200px;
    font-weight:800;
    z-index:-1;
}

/* Styling ends */

/* layout */
.flex-container{
    display:flex;
    flex-direction:row;
}
.flex-container > p {
    flex:auto;
}

.left_1col{
    grid-column-start: 1;
    grid-column-end: 2;
}





.left_2col{
    grid-column-start: 1;
    grid-column-end: 3;
}

.right_2col{
    grid-column-start: 3;
    grid-column-end: 5;
}
.left_3col{
    grid-column-start: 1;
    grid-column-end: 4;
}




.right_3col{
    grid-column-start: 2;
    grid-column-end: 5;
}

.left_4col{
    grid-column-start: 1;
    grid-column-end: 5;
}

.flexContainer{
    display:flex;
    align-items: flex-start;
}

.sticky{
    position: sticky;
    top:150px;
}

.home>.content {
    width:80%;
}

/* layout ends */
.profile_image{
    width: 280px;
    margin-top: -150px;
    margin-right: 150px;
    border-radius: 100%;
    box-shadow: 0px 10px 20px var(--shadow-color);
}

.work_card{
    height: 600px;
    background-color: #dbecff;
    box-shadow: 5px 5px 10px 0 var(--shadow-color);
    margin:50px;
    padding:50px;
    cursor:pointer;
    text-decoration: none !important;
    color: rgba(var(--text-black), 0.9);
    transition: 0.3s;
}

.work_card:hover{
    box-shadow: 10px 10px 40px 0 var(--shadow-color);
}
/* Animation Styles */
@keyframes horizontal_animate
  {
    from{
      background-position: 0 0;
    }
    to{
      background-position: 100% 0;
    }
  }

@keyframes vertical_animate
  {
    from{
      background-position: 0 0;
    }
    to{
      background-position: 0 100%;
    }
  }

.hr_animate{
    background-position: center right;
    background-repeat: repeat-x;
    animation: horizontal_animate 50s linear infinite;
}

.vr_animate{
    background-position: top center;
    background-repeat: repeat-y;
    animation: vertical_animate 50s linear infinite;
}




/* Base design overrides*/
#design_system{
    background-color: #bdbffd;
    background-image: url("/Images/assets/design_system.png");
    background-image: url("/Images/assets/design_system.png"),linear-gradient(90deg, #f99c1d, transparent);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#ignite_search{
    background-image: url("/Images/assets/search_background.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color:white;
}

#partner_stores{
    background-color: #bdbffd;
    background-image: url("/Images/assets/partner_stores.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color:white;
}

#personalize{
    background-image: url("/Images/assets/personalize.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.ignite_system{
    background-image: url("/Images/assets/kodak_hero.png");
    height: 400px;
}