body
{
    margin:0px;
    background-color:white;
    font-family: 'Open Sans', sans-serif;
}

.sidePane
{
    width:25%;
    float:left;
    background-color:black;
    min-width:300px;
    height:100%;
    position:fixed;
    background-image:url("/Images/me.jpg");
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, black),
	color-stop(0.5, transparent),
    color-stop(1,black)), url("/Images/me.jpg");
    background-image: -webkit-linear-gradient(bottom, black, transparent,black), url("/Images/me.jpg");
    background-image: -o-linear-gradient(bottom, black, transparent,black), url("/Images/me.jpg");
    background-image: -ms-linear-gradient(bottom, black, transparent,black), url("/Images/me.jpg");
    background-image: -moz-linear-gradient(linear, black, transparent, black), url("/Images/me.jpg");
    background-image: linear-gradient(to bottom, black, transparent, black), url("/Images/me.jpg");
    z-index:5;
    background-size: 100%, 100% auto;
    background-repeat:no-repeat;
    background-position: 50% 100%;
    -webkit-box-shadow:0px 5px 5px 1px #333333;
    box-shadow:0px 5px 5px 1px #333333;
    
}

.nameHeading{
    color:white;
    margin-left:30px;
    font-size:25px;
}

.navigationlink{
    display:block;
    color:white;
    margin-left:35px;
    margin-top:5px;
    font-size:18px;
    text-decoration:none;
    font-weight:600;
}

.navigationlink:hover{
    text-decoration:underline;
}

.navigationlink:active{
    text-decoration:underline;
}

.social-links{
    bottom:0px;
    position:absolute;
    color:white;
    margin-left:35px;
    margin-bottom:10px;
    font-size:10px;
}

a.link{
    color:white;
    margin-left:10px;
    font-size:15px;
    cursor:pointer;
    text-decoration:none;
}

a.link:hover{
    text-decoration:underline;
}

.mainPane
{
    width:75%;
    float:right;
    overflow-y:auto;
}

.heading{
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    border-bottom: 2px solid #0A5DA6;
    font-size:22px;
    color:#333333;
    padding-bottom:5px;
}

.description, .workDescription{
    max-width:700px;
    text-align:justify;
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    font-size:16px;
    line-height:25px;
    min-height: 400px;
}

.workDescription{
    display:none;
}

.display{
    display:block;
}

.workDescription > a{
    text-decoration:none;
}

.workDescription p>a{
    text-decoration:underline;
    color:#0A5DA6;
}

.role{
    color:#aaaaaa;
    margin-left:10px;
    cursor:pointer;
}

.highlightedRole{
    color:#333333;
}

.work{
    padding:10px 5px;
    cursor:pointer;
}


.work>h4{
    color:#0A5DA6;
    font-size:22px;
    margin:10px 0 10px 0;
    font-weight:300
}
.work>p{
    color:#444444;
}

.work:hover>h4{
    text-decoration:underline;
}

.projectRole, .projectTechnologies{
    color: #0A5DA6;
    font-weight:300;
    font-size:18px;
    line-height:30px;
}

.innerTitle{
    color:#888888;
}

.footer{
    margin:50px;
    margin-left:100px;
    margin-right:100px;
    border-top:1px solid silver;
    color:silver;
    font-size:12px;
}

.footer-link{
    color:silver;
    text-decoration:underline;
}