<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13D65</string>
	<key>CFBuildNumber</key>
	<string>109</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Sketch</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.drawing</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.drawing</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.plugin</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSScriptDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>EPS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeName</key>
			<string>Any Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Sketch</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.bohemiancoding.sketch3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sketch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>7892</string>
	<key>CHApplicationSupportFolderName</key>
	<string>com.bohemiancoding.sketch3</string>
	<key>CHSpecialNoticeURL</key>
	<string>http://www.bohemiancoding.com/sketch.notice.xml</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5B1008</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13C64</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0511</string>
	<key>DTXcodeBuild</key>
	<string>5B1008</string>
	<key>ECVersionCommit</key>
	<string>a6af16d03e62e9b34da1be1098affa7b56d9838b</string>
	<key>JRFeedbackURL</key>
	<string>http://feedback.bohemiancoding.com</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.8</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Bohemian Coding, 2009 - 2014</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Drawing</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.drawing</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.netscape.javascript-​source</string>
				<string>public.script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Plugin</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Default</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.default</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchdefault</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Preset</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.preset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchpreset</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
