<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>iPhone Screens</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>Portrait</string>
				<key>width</key>
				<integer>640</integer>
				<key>height</key>
				<integer>1136</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Landscape</string>
				<key>width</key>
				<integer>1136</integer>
				<key>height</key>
				<integer>640</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iPad Screens</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>Landscape</string>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>768</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Landscape Retina</string>
				<key>width</key>
				<integer>2048</integer>
				<key>height</key>
				<integer>1536</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Portrait</string>
				<key>width</key>
				<integer>768</integer>
				<key>height</key>
				<integer>1024</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Portrait Retina</string>
				<key>width</key>
				<integer>1536</integer>
				<key>height</key>
				<integer>2048</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Responsive Web Design</string>
		<key>presets</key>
		<array>
			<dict>
				<key>height</key>
				<real>1024</real>
				<key>name</key>
				<string>Mobile Portrait</string>
				<key>width</key>
				<real>320</real>
			</dict>
			<dict>
				<key>height</key>
				<real>1024</real>
				<key>name</key>
				<string>Tablet Portrait</string>
				<key>width</key>
				<real>768</real>
			</dict>
			<dict>
				<key>height</key>
				<real>1024</real>
				<key>name</key>
				<string>Desktop</string>
				<key>width</key>
				<real>1024</real>
			</dict>
			<dict>
				<key>height</key>
				<real>1024</real>
				<key>name</key>
				<string>Desktop HD</string>
				<key>width</key>
				<real>1440</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Paper Sizes</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>A4</string>
				<key>tooltip</key>
				<string>Only suitable for PDF Exporting</string>
				<key>width</key>
				<integer>595</integer>
				<key>height</key>
				<integer>842</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>A5</string>
				<key>tooltip</key>
				<string>Only suitable for PDF Exporting</string>
				<key>width</key>
				<integer>420</integer>
				<key>height</key>
				<integer>595</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>A6</string>
				<key>tooltip</key>
				<string>Only suitable for PDF Exporting</string>
				<key>width</key>
				<integer>297</integer>
				<key>height</key>
				<integer>420</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>Letter</string>
				<key>tooltip</key>
				<string>Only suitable for PDF Exporting</string>
				<key>width</key>
				<integer>612</integer>
				<key>height</key>
				<integer>792</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iOS 7 Icons</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>152 - iPad App Icon</string>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>152</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>120 - iPhone App Icon</string>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>120</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>80 - Spotlight</string>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>58 - Settings</string>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>58</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>iOS Icons (Legacy)</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>144 - iPad App Icon</string>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>144</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>114 - iPhone App Icon</string>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>114</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>100 - iPad Spotlight</string>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Mac Icons</string>
		<key>presets</key>
		<array>
			<dict>
				<key>name</key>
				<string>1024</string>
				<key>width</key>
				<integer>1024</integer>
				<key>height</key>
				<integer>1024</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>512</string>
				<key>width</key>
				<integer>512</integer>
				<key>height</key>
				<integer>512</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>256</string>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>128</string>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>48</string>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>32</string>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>32</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>16</string>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>16</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
